<div class="table-container">
  <table mat-table [dataSource]="data" class="mat-elevation-z2">

    <ng-container matColumnDef="id_lote">
      <th mat-header-cell *matHeaderCellDef> ID Lote </th>
      <td mat-cell *matCellDef="let item"> {{ item.id_lote }} </td>
    </ng-container>

    <ng-container matColumnDef="id_producto">
      <th mat-header-cell *matHeaderCellDef> ID Producto </th>
      <td mat-cell *matCellDef="let item"> {{ item.id_producto }} </td>
    </ng-container>

    <ng-container matColumnDef="id_orden_compra">
      <th mat-header-cell *matHeaderCellDef> ID Orden Compra </th>
      <td mat-cell *matCellDef="let item"> {{ item.id_orden_compra }} </td>
    </ng-container>

    <ng-container matColumnDef="numero_lote">
      <th mat-header-cell *matHeaderCellDef> Número Lote </th>
      <td mat-cell *matCellDef="let item"> {{ item.numero_lote }} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_fabricacion">
      <th mat-header-cell *matHeaderCellDef> Fecha Fabricación </th>
      <td mat-cell *matCellDef="let item"> {{ item.fecha_fabricacion }} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad_inicial">
      <th mat-header-cell *matHeaderCellDef> Cantidad Inicial </th>
      <td mat-cell *matCellDef="let item"> {{ item.cantidad_inicial }} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad_actual">
      <th mat-header-cell *matHeaderCellDef> Cantidad Actual </th>
      <td mat-cell *matCellDef="let item"> {{ item.cantidad_actual }} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let item"> {{ item.estado }} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let item">
        <button mat-button color="primary" [routerLink]="['/GestionAlmacenamiento/registro', item.id_lote]">
          Registrar lote
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>