.layout-container {
  height: 100vh;
}
.sidebar {
    width: 250px; /* Ejemplo de ancho fijo */
}

.mat-toolbar.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.app-title {
  font-size: 1.2rem;
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.content-area {
  padding: 20px;
  background-color: #fafafa;
  min-height: calc(100vh - 64px);
}

a.active {
  font-weight: bold;
  color: #3f51b5;
}
