<div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z2">

        <ng-container matColumnDef="id_inventario">
            <th mat-header-cell *matHeaderCellDef> ID Inventario </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.id_inventario }} </td>
        </ng-container>

        <ng-container matColumnDef="id_almacen">
            <th mat-header-cell *matHeaderCellDef> ID Almacén </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.id_almacen }} </td>
        </ng-container>

        <ng-container matColumnDef="id_lote">
            <th mat-header-cell *matHeaderCellDef> ID Lote </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.id_lote }} </td>
        </ng-container>

        <ng-container matColumnDef="stock_actual">
            <th mat-header-cell *matHeaderCellDef> Stock Actual </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.stock_actual }} </td>
        </ng-container>

        <ng-container matColumnDef="stock_minimo">
            <th mat-header-cell *matHeaderCellDef> Stock Mínimo </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.stock_minimo }} </td>
        </ng-container>

        <ng-container matColumnDef="stock_maximo">
            <th mat-header-cell *matHeaderCellDef> Stock Máximo </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.stock_maximo }} </td>
        </ng-container>

        <ng-container matColumnDef="ubicacion_especifica">
            <th mat-header-cell *matHeaderCellDef> Ubicación </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.ubicacion_especifica }}
            </td>
        </ng-container>

        <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)"> {{ item.fecha_creacion }} </td>
        </ng-container>

        <ng-container matColumnDef="reporte">
            <th mat-header-cell *matHeaderCellDef> Reporte </th>
            <td mat-cell *matCellDef="let item">
                <button mat-stroked-button color="primary" (click)="verReporteLote(item)">
                    Ver Reporte Lote
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Selección </th>
            <td mat-cell *matCellDef="let item" [class.selected-row]="isSelected(item)">
                <mat-radio-button name="inventarioSelect" [checked]="isSelected(item)" (change)="toggleSelection(item)"
                    [class.selected-btn]="isSelected(item)">
                </mat-radio-button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="isSelected(row)"></tr>
    </table>
</div>