.app-footer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.9rem;
  color: #333;
}

/* Información del footer */
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.version-info {
  font-style: italic;
  color: #666;
}

/* Botón de cerrar sesión */
.footer-actions {
  display: flex;
  align-items: center;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #c93a3a;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}


.logout-icon-container svg {
  fill: none;
  stroke: none;
}
